.homepage-user {
  margin-bottom: 36px;
  &--section-1 {
    background-image: url("/assets/images/bgImageHome.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 280px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  &--section-2 {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .block-action-switch {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: -8px;
      margin-bottom: 24px;
      &--item {
        display: flex;
        align-items: center;
        span {
          font-weight: bolder;
          color: rgb(96, 112, 96);
          margin: 8px 16px 0 0;
        }
        .icon--food {
          path {
            fill: rgb(218, 135, 2);
          }
        }
        .icon--course {
          path {
            fill: rgb(6, 176, 228);
          }
        }
        .MuiSvgIcon-root {
          font-size: 28px;
          cursor: pointer;
          margin-left: 12px;
        }
        &:last-child {
          margin-right: -12px;
        }
      }
    }
  }
  &--section-3 {
    .block--product-list {
      margin-bottom: 36px;
      &--title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
        span {
          &:first-child {
            font-size: 18px;
            font-weight: bold;
          }
          &:last-child {
            font-size: 17px;
            cursor: pointer;
            &:hover {
              color: rgb(177, 74, 5);
            }
          }
        }
      }
      &--showing {
        display: flex;
        align-items: center;
        overflow: auto;
        &--item {
          &:not(:last-child) {
            margin-right: 16px !important;
          }
        }
        &::-webkit-scrollbar {
          // display: none;
        }
      }
    }
  }
}
