.login {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 25px;
  overflow: hidden;
  max-width: 420px;
  margin: 80px auto;
  box-shadow: 1px 6px 12px rgb(0 0 0 / 18%);
  background-image: url("../../../assets/images/bgr-form.jpg");

  &-header {
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--item {
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 15px;
      width: 50%;
      text-align: center;
      font-weight: bold;
      &:hover {
        background: rgb(241, 246, 248);
        border-radius: 30px !important;
        cursor: pointer;
      }
    }
    .active {
      color: gray;
      cursor: unset;
      background: rgb(241, 246, 248);
      border-radius: 30px !important;
    }
  }
  &-body {
    margin-top: 20px;
    padding: 0 30px;
    margin-bottom: 25px;
    .form--login {
      .form-group {
        input {
          background: #fff;
          border: #ddd 1px solid;
          border-radius: 20px;
          height: 38px;
          margin-top: 5px;
          padding: 0 15px;
          outline: none;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &:focus {
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
              0 0 8px rgb(102 175 233 / 60%);
          }
        }
        .invalid-feedback {
          margin-bottom: 10px;
          margin-top: -5px;
        }
      }
      .btn--login {
        width: 100%;
        border-radius: 30px;
        height: 50px;
        text-transform: uppercase;
        font-size: 16px;
        background: orange;
        background-image: linear-gradient(-90deg, #f5c04f 0%, orange 100%);
        border: 0;
      }
    }
  }
  &-footer {
    margin-top: -15px;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 20px;
    span {
      font-size: 11px;
      cursor: pointer;
      color: rgb(121, 120, 120);
      &:hover {
        color: rgb(29, 29, 214);
      }
      .privacy-text {
        text-decoration: underline;
        color: rgb(29, 29, 214);
        cursor: pointer;
      }
    }
  }
}
