.btn-avatar-menu {
  outline: unset;
  background: rgb(245, 243, 235) !important;
  box-shadow: unset !important;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0px 12px !important;
  .block-infor-user {
    margin: 0 4px;
    & > span {
      margin: 0 8px;
      font-size: 13px;
      font-weight: bold;
      color: #292929;
      text-transform: capitalize;
    }
    &--name {
      line-height: 16px;
    }
    &--role {
      font-size: 11px !important;
    }
  }
}
.menu-header-admin,
.menu-dropdown-common {
  border-radius: 14px;
  svg {
    margin-right: 6px;
  }
}
