.course-card {
  margin-right: 10px;
  border: 1px solid rgb(233, 227, 208);
  border-radius: 12px;
  &__inner {
    padding: 8px 10px;
    &--video,
    video {
      width: 240px;
      height: 160px;
      border-radius: 20px;
      margin-bottom: 12px;
      flex-shrink: 0;
    }
    &--information {
      margin: 6px 5px;
      .block-title-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .f-title {
          font-size: 17px;
          font-weight: bold;
          text-transform: capitalize;
        }
        .f-price {
          color: #d6a343;
          font-weight: bold;
          font-size: 16px;
        }
      }
      .block-action-food {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > button {
          padding: 0;
        }
      }
    }
  }
}
