// font-family
body {
  font-family: "Merriweather", serif !important;
}
// definition new style
.bold {
  font-weight: bold;
}
.address-order-field {
  width: 100%;
  .form-box {
    width: 86%;
  }
}
.input {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 20px;
  height: 38px;
  margin-top: 5px;
  padding: 0 15px;
  outline: none;
  &:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  }
}
.invalid-feedback-error {
  font-size: 12px;
  padding: 0 16px;
  color: #dc3545;
}

.flex {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.align-flex-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.ant-list-items {
  max-height: 200px;
  overflow-y: scroll;
}
.btn-disabled {
  background: rgb(187, 181, 181) !important;
  color: rgb(59, 45, 35) !important;
  cursor: not-allowed !important;
}
.j-space-between {
  justify-content: space-between;
}
.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}
.show-scroll-to-top {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.block__scroll-top {
  position: fixed;
  bottom: 12px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background: #ffb638;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transform: translateY(100px);
  transition: all 0.5s ease;
  &:hover {
    background: rgb(255, 217, 112);
  }
  .MuiSvgIcon-root {
    margin: 0 18px;
    width: 32px;
    height: 32px;
    & > path {
      fill: #4b4b4b;
    }
  }
}
.MuiCardHeader-title {
  width: 180px; /* or inline-block */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
.text-ellipses {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
.text-back-previous-page {
  width: fit-content;
  cursor: pointer;
  margin: 24px 0;
  color: rgb(128, 86, 4);
  svg {
    width: 24px;
    margin-right: 4px;
  }
  &:hover {
    color: rgb(180, 130, 38);
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__body {
    margin: 0 10.5%;
  }
}
.app-admin {
  width: 100%;
  height: 100%;
  display: flex;

  &__body {
    padding-top: 80px !important;
    background-color: rgb(255, 252, 211);
    &__inner {
      padding: 15px;
    }
  }
}
// recipe card
.MuiCardContent {
  max-height: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

// search field
.search-field {
  border-radius: 20px;
  background: rgb(245, 243, 235) !important;
  color: rgb(219, 219, 219);
  width: 350px;
  border: 1px solid rgb(206, 202, 202) !important;
  .MuiInput-underline {
    &::after {
      display: none;
    }
  }
  .MuiInputBase-root {
    &::before {
      display: none !important;
    }
    & > input {
      padding: 12px;
    }
    .MuiInputAdornment-root {
      padding: 0 10px;
      & > svg {
        width: 28px;
      }
    }
  }
}
// dropdown
.dropdown-common {
  outline: unset;
  background: rgb(245, 243, 235) !important;
  box-shadow: unset !important;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  font-size: 16px;
  &:hover,
  &:focus {
    color: #292929 !important;
  }
}
.menu-dropdown-common {
  color: #292929;
}
// upload image container
.ant-upload-list-picture-card-container,
.ant-upload,
.ant-upload-select,
.ant-upload-select-picture-card {
  width: 100% !important;
  height: 200px !important;
}
.ant-upload-list-picture-card,
.ant-upload-list-item-error {
  border-color: rgb(218, 160, 84) !important;
}
.error-message {
  padding: 0 16px;
  display: block;
  font-size: 12px;
  width: 100%;
  margin-top: 0.25 rem;
  color: #dc3545;
}

// scroll
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #bfc3c5;
  border-radius: 20px;
  border: 6px solid transparent;
}

// css upload container
.fade-choice-avt {
  cursor: pointer;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 248, 248);
  border: 1px dashed gray;
  left: 0;
  position: absolute;
}
// css Certification
.certification-form {
  min-width: 650px;
  min-height: 600px;
  padding: 25px;
  background-image: url("/assets/images/background_certification_cook.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  &--title {
    & > span {
      font-weight: bold;
      &:first-child {
        font-size: 20px;
        margin-bottom: 2px;
      }
      &:last-child {
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
  &-people-sent {
    margin-top: 24px;
    text-align: center;
    span {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .chung-chi-title {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(235, 16, 16);
  }
  &--body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .add-edit-recipe-container-bottom--left {
      input {
        width: 100%;
        height: 100%;
      }
    }
    &-main {
      width: 75%;
      .block-input-info-student-course {
        display: flex;
        align-items: center;
        margin: 15px 0;
        width: 100%;
        label {
          white-space: nowrap;
          margin-right: 16px;
          font-weight: 600;
          align-self: flex-end;
        }
        .MuiFormControl-root {
          width: 90%;
          input,
          input:focus,
          input:hover {
            padding-bottom: 0 !important;
            width: 100%;
            border-bottom: 1px dashed black;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
