// font-family
body {
  font-family: "Merriweather", serif !important;
}
// definition new style

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.j-space-between {
  justify-content: space-between;
}

.app {
  &__body {
    margin: 0 10%;
  }
}
