.add-edit-recipe-container {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
  }
  &-bottom {
    display: flex;
    align-items: flex-start;
    &--left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 300px;
      margin-right: 20px;
      position: relative;
      &:hover {
        .fade-choice-avt {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: rgb(180, 112, 3);
        }
      }
      img {
        max-width: 90%;
        max-height: 90%;
      }
    }
    &--right {
      padding: 30px 36px;
      width: 70%;
      min-height: 100vh;
      .block-input-info-course {
        margin-bottom: 24px;
        label {
          color: rgb(141, 95, 8);
          margin-bottom: 4px;
          font-weight: bold;
        }
        .block-material-input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 6px 0;
          & > div {
            input,
            .ant-select-selector {
              margin: 0;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:nth-child(2) {
              margin: 0 6px;
            }
            &:first-child {
              width: 100%;
            }
          }
        }
        input {
          height: 35px;
          margin: 6px 0;
        }
        .btn-add-input {
          margin: 8px 0;
          padding: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          outline: none;
          border: 1px dashed rgb(134, 131, 124);
          width: 100%;
          svg {
            width: 28px;
            height: 28px;
            margin-right: 8px;
          }
          &:hover {
            background: rgb(243, 242, 239);
          }
        }
      }
    }
  }
}
