.examinations-course-container {
  .title-examination-course {
    color: rgb(189, 159, 75);
    font-weight: bold;
    margin-bottom: 36px;
  }
  &-top {
    margin-bottom: 24px;
    &-right {
      & > div {
        margin-left: 12px;
      }
      .dropdown-common,
      .search-field {
        height: 40px;
      }
    }
  }
  &-content {
    padding: 8px 18px;
    border-end-start-radius: unset !important;
    border-end-end-radius: unset !important;
    &-bottom {
      display: flex;
      flex-direction: column;
      &-contents {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        label {
          color: rgb(148, 117, 106);
          font-weight: bold;
          margin-bottom: 4px;
          font-size: 16px;
          svg {
            margin-right: 2px;
          }
        }
        span {
          font-size: 15px;
          color: rgb(160, 77, 0);
        }
      }
    }
  }
  &-submit-video {
    padding: 24px 36px;
    margin: 12px 0;
    background: rgb(248, 244, 203);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    &-top {
      display: flex;
      flex-direction: column;
      width: 300px;
      .infor-icon-show-student {
        color: #b17d0d;
      }
      .name-student {
        font-weight: bold;
        color: #906300;
        font-size: 18px;
        margin-bottom: 2px;
      }
      .time-submit {
        margin-bottom: 12px;
        color: gray;
        font-size: 15px;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-around;
      &--left {
        width: fit-content;
        margin-right: 180px;
        span {
          font-size: 15px;
          padding: 0 6px 6px 0;
          color: rgb(82, 67, 41);
        }
      }
      &--right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 15px;
        }
        .block-evaluate-exam {
          display: flex;
          justify-content: flex-start;
          min-width: 400px;
          label {
            width: 100px;
            padding-bottom: 2px;
          }
          textarea {
            border-radius: 12px;
          }
        }
        .btn-update-exam {
          margin-top: 12px;
        }
        .btn-confirm-exam {
          align-self: flex-start;
          margin-left: auto;
        }
      }
    }
  }
}
.popover-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
// certification container
.certification-form-container {
  .ant-modal-content {
    min-width: 700px;
    .ant-modal-header {
      .ant-modal-title {
        color: rgb(248, 137, 10);
        font-weight: bold;
      }
    }

    .block--signature-certification {
      position: absolute;
      bottom: 120px;
      right: 220px;
      width: 200px;
      height: 100px;
      &--title {
        display: flex;
        align-items: center;
        span {
          align-self: end;
          margin: 0 4px;
        }
        .MuiFormControl-root {
          &:first-child {
            min-width: 100px;
          }
          min-width: 40px;
        }
        input,
        input:focus,
        input:hover {
          text-align: center;
          border-bottom: 1px dashed black;
          &::after {
            display: none;
          }
        }
      }
      & > div {
        canvas {
          margin-left: 160px;
          cursor: pointer;
          margin-top: 12px;
          border: 1px dashed gray;
        }
      }
    }
  }
}

.popover-show-info-student-container {
  padding: 10px 6px;
  background: rgb(255, 254, 246);
  border-radius: 16px;
  &--item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    span {
      color: rgb(15, 71, 75);
    }
    svg {
      margin-right: 4px;
      width: 18px;
      height: 18px;
      path {
        fill: rgb(46, 102, 223);
      }
    }
  }
}
