.app-admin {
  &__app-bar {
    background-color: #fff !important;
    box-shadow: none !important;
    z-index: 1000 !important;
    .toolbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn--menu {
        color: black !important;
        padding: 5px;
        flex-shrink: 0;
        align-self: center;
      }
      .btn-avatar-menu {
        margin-left: 24px;
      }
    }
  }
}
