.my-courses-container {
  .search-field {
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .btn-see-more {
    margin-top: 36px;
  }
}
// detail page
.my-course-detail-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    &__video-detail {
      height: 500px;
      margin-bottom: 32px;
      align-self: flex-start;
      margin-bottom: 150px;
      & > video {
        cursor: pointer;
        width: 900px;
        height: fit-content;
        border-radius: 15px;
      }
      & > iframe {
        width: 900px;
        border-radius: 15px;
      }
      .btn--access-exam {
        margin-top: 12px;
      }
    }
  }
  &-right {
    margin-left: 12px;
    width: 35%;
    border: 2px solid rgb(218, 216, 216);
    .active {
      background: rgb(236, 236, 236) !important;
    }
    &--item {
      padding: 10px 30px;
      border-bottom: 1px solid gainsboro;
      &:hover {
        cursor: pointer;
        background: rgb(236, 236, 236);
      }
      display: flex;
      & > video {
        width: 60%;
        margin-left: 24px;
      }

      &-info {
        display: flex;
      }
    }
  }
}
// examination
.examination-container {
  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &--left {
      width: 60%;
      margin-right: 24px;
      box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.6) !important;

      padding: 24px;
      &--title {
        color: orange;
        font-weight: 600;
        margin-bottom: 24px;
      }
      .block__data {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 18px;
        label {
          color: orangered;
          font-size: 20px;
          margin-bottom: 6px;
        }
        span {
          padding-left: 10px;
          color: rgb(58, 30, 2);
          font-size: 18px;
        }
      }
    }
    &--right {
      padding: 24px;
      box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.6) !important;
      width: 40%;
      min-height: 350px;
      label {
        margin-bottom: 6px;
        color: orangered;
      }
      .block--actions-submit {
        margin-top: 24px;
        display: flex;
        align-items: center;
        width: 100%;
        &--item {
          margin-right: 24px;
        }
      }
    }
  }
}
