.recipe-detail-container {
  margin: 20px 0;
  &-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &__left {
      margin-right: 48px;
      img {
        border-radius: 6px;
      }
      .minor-image {
        width: 100%;
        justify-content: center;
        margin-top: 8px;
        img {
          border: 1px solid rgb(228, 173, 23);
          width: 160px;
          height: 120px;
          border-radius: 6px;
        }
      }
    }
    &__right {
      width: 60%;
      &--title {
        font-weight: 600;
        margin-right: 20px;
        font-size: 32px;
        margin-bottom: 36px;
        color: rgb(233, 105, 14);
      }
      &--slotQuantity {
        margin-bottom: 12px;
        & > span {
          font-weight: bold;
        }
      }
      &--materials {
        margin-bottom: 20px;
        &-label {
          font-weight: bold;
          margin-bottom: 4px;
        }
        &-body {
          width: 800px;
          border-radius: 6px;
          padding: 14px;
          background: #f0f0f0;
        }
      }
      &--contents {
        margin-bottom: 12px;
        &-label {
          font-weight: bold;
          margin-bottom: 4px;
        }
        &-body {
          width: 800px;
          border-radius: 6px;
          padding: 14px;
          background: #f0f0f0;
          &--item {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  &-bottom {
    margin: 24px 0;
  }
  .recipe-detail__related {
    &--title {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      span {
        margin-left: 12px;
        font-size: 20px;
        color: rgb(197, 81, 13);
        font-weight: 600;
      }
      svg {
        path {
          fill: rgb(173, 46, 0);
        }
      }
    }
    &--body {
      margin-bottom: 50px;
      overflow-x: auto;
      display: flex;
      align-items: center;
      &::-webkit-scrollbar {
        height: 10px !important;
      }
      .block--product-list--showing--item {
        margin: 6px 0;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
